# Tailscale Configuration
TAILSCALE_API_KEY=tskey-api-XXXXXXXX

# Tailscale Operator OAuth Credentials
OPERATOR_CLIENT_ID=XXXXXXXX
OPERATOR_CLIENT_SECRET=tskey-client-XXXXXXXX

# Git Repository Configuration
GIT_URL=https://github.com/pmdroid/flux-e2e
GIT_USERNAME=pmdroid
GIT_PASSWORD=github_pat_XXXXXXXX
GIT_BRANCH=main